### Project Outline 

- In this project we'll be Scraping the Ambition Box website data for different companies
- We'll be using BeautifulSoup and Requests library from python 
- There are total 333 pages of that Ambition Box website
- we'll be scraping data for all the 333 pages from the website

### Libraries Needed

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

##### Looping through all the pages of AmbitionBox website pages

In [17]:
final=pd.DataFrame()

for j in range (1,335):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j), headers = headers).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_='company-content-wrapper')
    
    name=[]
    rating=[]
    reviews=[]
    ctype=[]
    hq=[]
    how_old=[]
    no_of_employee=[]
    
    for i in company:
        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)

        try:
            rating.append(i.find('p',class_='rating').text.strip())
        except:
            rating.append(np.nan)

        try:
            reviews.append(i.find('a' , class_='review-count').text.strip())
        except:
            reviews.append(np.nan)
 
        try:
          ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
        except:
            ctype.append(np.nan)
        try:
            hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)

        try:
            how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
        except:
            how_old.append(np.nan)
        try:
            no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
        except:
            no_of_employee.append(np.nan)


        df=pd.DataFrame({'name':name,
            'rating':rating,
            'reviews':reviews,
            'company_type':ctype,
            'Head_Quarters':hq,
            'Company_Age':how_old,
            'No_of_Employee':no_of_employee,
        })

        final=final.append(df,ignore_index=True)

C:\Users\bamba\AppData\Local\Temp\ipykernel_7088\3542341710.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

In [65]:

final.rename(columns = {'name':'Name', 'rating':'Ratings', 'reviews':'Reviews', 'company_type':'Type', 'headquarters':'Headquarters', 'Company_Age':'Establishment', 'No_of_Employee':'NoOfEmployees'}, inplace = True)

In [76]:
final

,Ratings,Reviews,Type,Headquarters,Establishment,NoOfEmployees
Name,,,,,,
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra",55 years old,1 Lakh+ Employees (India)
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra",55 years old,1 Lakh+ Employees (India)
Accenture,4.1,(32.6k Reviews),Public,"Mumbai,Maharashtra",34 years old,1 Lakh+ Employees (India)
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra",55 years old,1 Lakh+ Employees (India)
Accenture,4.1,(32.6k Reviews),Public,"Mumbai,Maharashtra",34 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...
Schenck Process ...,4.2,(51 Reviews),Private,"Mumbai,Maharashtra",142 years old,201-500 Employees (India)
Mawai Infotech,3.8,(51 Reviews),Private,"Mumbai,Maharashtra",25 years old,51-200 Employees (India)
Total Logistics,4.3,(51 Reviews),Private,"Mumbai,Maharashtra",25 years old,201-500 Employees (India)
Bevcon Wayors,3.5,(51 Reviews),Private,"Mumbai,Maharashtra",32 years old,201-500 Employees (India)
Maverix Platform...,3.9,(51 Reviews),Private,"Mumbai,Maharashtra",8 years old,51-200 Employees (India)

In [35]:
# final.to_csv(r"F:\Files\companies.csv", index=False)

In [49]:
final['Headquarters']=final['Headquarters'].str.split(" ")[0][0]

In [64]:
final.tail()

,Name,Ratings,Reviews,Type,Headquarters,Establishment,NoOfEmployees
154810,Schenck Process ...,4.2,(51 Reviews),Private,"Mumbai,Maharashtra",142 years old,100000+
154811,Mawai Infotech,3.8,(51 Reviews),Private,"Mumbai,Maharashtra",25 years old,100000+
154812,Total Logistics,4.3,(51 Reviews),Private,"Mumbai,Maharashtra",25 years old,100000+
154813,Bevcon Wayors,3.5,(51 Reviews),Private,"Mumbai,Maharashtra",32 years old,100000+
154814,Maverix Platform...,3.9,(51 Reviews),Private,"Mumbai,Maharashtra",8 years old,100000+

In [72]:
final = pd.read_csv(r"F:\Files\companies.csv", index_col=0)
final

,Ratings,Reviews,Type,headquarters,Establishment,NoOfEmployees
Name,,,,,,
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra + 270 more",55 years old,1 Lakh+ Employees (India)
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra + 270 more",55 years old,1 Lakh+ Employees (India)
Accenture,4.1,(32.6k Reviews),Public,Dublin + 131 more,34 years old,1 Lakh+ Employees (India)
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra + 270 more",55 years old,1 Lakh+ Employees (India)
Accenture,4.1,(32.6k Reviews),Public,Dublin + 131 more,34 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...
Schenck Process ...,4.2,(51 Reviews),Private,Darmstadt + 6 more,142 years old,201-500 Employees (India)
Mawai Infotech,3.8,(51 Reviews),Private,"Noida,Uttar Pradesh",25 years old,51-200 Employees (India)
Total Logistics,4.3,(51 Reviews),Private,Mumbai + 19 more,25 years old,201-500 Employees (India)
Bevcon Wayors,3.5,(51 Reviews),Private,Hyderabad,32 years old,201-500 Employees (India)
Maverix Platform...,3.9,(51 Reviews),Private,"Mumbai,Maharashtra + 6 more",8 years old,51-200 Employees (India)

In [74]:

final.rename(columns = {'name':'Name', 'rating':'Ratings', 'reviews':'Reviews', 'company_type':'Type', 'headquarters':'Headquarters', 'Company_Age':'Establishment', 'No_of_Employee':'NoOfEmployees'}, inplace = True)
final['Headquarters']=final['Headquarters'].str.split(" ")[0][0]
final

,Ratings,Reviews,Type,Headquarters,Establishment,NoOfEmployees
Name,,,,,,
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra",55 years old,1 Lakh+ Employees (India)
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra",55 years old,1 Lakh+ Employees (India)
Accenture,4.1,(32.6k Reviews),Public,"Mumbai,Maharashtra",34 years old,1 Lakh+ Employees (India)
TCS,3.9,(50.9k Reviews),Public,"Mumbai,Maharashtra",55 years old,1 Lakh+ Employees (India)
Accenture,4.1,(32.6k Reviews),Public,"Mumbai,Maharashtra",34 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...
Schenck Process ...,4.2,(51 Reviews),Private,"Mumbai,Maharashtra",142 years old,201-500 Employees (India)
Mawai Infotech,3.8,(51 Reviews),Private,"Mumbai,Maharashtra",25 years old,51-200 Employees (India)
Total Logistics,4.3,(51 Reviews),Private,"Mumbai,Maharashtra",25 years old,201-500 Employees (India)
Bevcon Wayors,3.5,(51 Reviews),Private,"Mumbai,Maharashtra",32 years old,201-500 Employees (India)
Maverix Platform...,3.9,(51 Reviews),Private,"Mumbai,Maharashtra",8 years old,51-200 Employees (India)

In [75]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 154815 entries, TCS to Maverix Platform...
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Ratings        154815 non-null  float64
 1   Reviews        154815 non-null  object
 2   Type           154696 non-null  object
 3   Headquarters   154815 non-null  object
 4   Establishment  146543 non-null  object
 5   NoOfEmployees  127050 non-null  object
dtypes: float64(1), object(5)
memory usage: 8.3+ MB